name: Create torrent
on:
  push:
    branches:
      - master
      
env:
  name: "test"
  comment: "test"
  url: "blob:https://www.pinterest.com/9338fe0c-d3a3-4a30-9f8c-f2b119453b6f"
  file_name: "9338fe0c-d3a3-4a30-9f8c-f2b119453b6f"
  piece_size: 19 # Check the README.md for recommended piece size
      
jobs:
  create:
    runs-on: ubuntu-20.04
    steps:
      - name: Install mktorrent
        run: sudo apt-get install mktorrent
        
      - name: Download file
        run: wget -nv -O "$file_name" "$url"
        
      - name: Create torrent using mktorrent
        run: mktorrent -c "$comment" -l $piece_size -o "${name}.torrent" -w "$url" "$file_name"
        
      - name: Upload torrent file
        uses: actions/upload-artifact@v6
        with:
          name: ${{ env.name }}
          path: ${{ env.name }}.torrent
